<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ISE-291-Term-Project" data-toc-modified-id="ISE-291-Term-Project-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ISE 291 Term Project</a></span><ul class="toc-item"><li><span><a href="#Task-1" data-toc-modified-id="Task-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Task-1</a></span></li><li><span><a href="#Task-2" data-toc-modified-id="Task-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Task-2</a></span></li><li><span><a href="#Task-3" data-toc-modified-id="Task-3-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Task-3</a></span></li><li><span><a href="#Task-4" data-toc-modified-id="Task-4-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Task-4</a></span></li><li><span><a href="#Task-5" data-toc-modified-id="Task-5-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Task-5</a></span></li><li><span><a href="#Task-6" data-toc-modified-id="Task-6-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Task-6</a></span></li><li><span><a href="#Task-7" data-toc-modified-id="Task-7-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Task-7</a></span></li><li><span><a href="#Task-8" data-toc-modified-id="Task-8-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Task-8</a></span></li><li><span><a href="#Task-9" data-toc-modified-id="Task-9-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Task-9</a></span></li><li><span><a href="#Task-10" data-toc-modified-id="Task-10-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Task-10</a></span></li><li><span><a href="#References" data-toc-modified-id="References-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>References</a></span></li></ul></li></ul></div>

# ISE 291 Term Project

Group Number =   7

Group Members:

Names                                Student IDs
Mohammed Alkhnani                     201954190

## Task-1

In [1]:
import pandas as pd
df = pd.read_csv('Group_18_07_A.csv', delimiter = ',')
display(df.head())
display(df.info())

,Manufacturer,Type,Cylinders,Model_Year,Model_Price,Sold_Year,Sale_Price,KM_Driven,KPL,Power,Class,Location,Accident_History,Owner_History,Color,Seller_Type,Service_History
0,Huendae,sedan,4,2005,"54,911 SAR",2009,"37,325 SAR",197508,19000.0mpl,2WD,standard,Riyadh,3,-2,Black,individual,1
1,Shevy,crossover,6,2002,NaN,2007,"36,716 SAR",248356,3.88,2WD,standard,Dammam,6,1,Gray,company,0
2,Masda,suv,4,2007,"85,694 SAR",2008,"68,383 SAR",37293,12380.0mpl,2WD,standard,Makkah,3,3,Blue,individual,0
3,Fourd,sedan,4,2002,"72,441 SAR",2005,"38,834 SAR",22805,6.64,2WD,STANDARD,Madinah,4,4,Brown,company,0
4,Nesshan,suv,4,1999,"87,767 SAR",2004,"45,069 SAR",201985,16.45,4WD,standard,Dhahran,7,-2,Red,individual,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      3000 non-null   object
 1   Type              3000 non-null   object
 2   Cylinders         3000 non-null   int64
 3   Model_Year        3000 non-null   int64
 4   Model_Price       2071 non-null   object
 5   Sold_Year         3000 non-null   int64
 6   Sale_Price        3000 non-null   object
 7   KM_Driven         3000 non-null   int64
 8   KPL               3000 non-null   object
 9   Power             3000 non-null   object
 10  Class             3000 non-null   object
 11  Location          3000 non-null   object
 12  Accident_History  3000 non-null   int64
 13  Owner_History     3000 non-null   int64
 14  Color             3000 non-null   object
 15  Seller_Type       3000 non-null   object
 16  Service_History   3000 non-null   int64
dtypes: int64(7), object(10)
memory usage: 398.6+ KB

None

## Task-2

## Task-3

## Task-4

## Task-5

## Task-6

## Task-7

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      5000 non-null   object
 1   Type              5000 non-null   object
 2   Cylinders         5000 non-null   int64
 3   Model_Year        5000 non-null   int64
 4   Model_Price       5000 non-null   int64
 5   Sold_Year         5000 non-null   int64
 6   Sale_Price        5000 non-null   int64
 7   KM_Driven         5000 non-null   int64
 8   KPL               5000 non-null   float64
 9   Power             5000 non-null   object
 10  Class             5000 non-null   object
 11  Location          5000 non-null   object
 12  Accident_History  5000 non-null   int64
 13  Owner_History     5000 non-null   int64
 14  Color             5000 non-null   object
 15  Seller_Type       5000 non-null   object
 16  Service_History   5000 non-null   int64
dtypes: float64(1), int64(9), object(7)
memory usage: 664.2+ KB

None

,Cylinders,Model_Year,Model_Price,Sold_Year,Sale_Price,KM_Driven,KPL,Accident_History,Owner_History,Service_History
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,5.000400,2001.229000,88624.723000,2005.714600,48270.339000,106040.953000,10.114696,5.850800,2.165000,0.302200
std,1.490921,4.242848,27450.305374,4.716609,17918.180244,80796.961636,5.272224,3.166788,0.909253,0.459257
min,4.000000,1990.000000,40800.000000,1991.000000,13025.000000,569.000000,1.190000,0.000000,1.000000,0.000000
25%,4.000000,1998.000000,68555.000000,2003.000000,35616.250000,45800.750000,5.860000,3.000000,1.000000,0.000000
50%,4.000000,2002.000000,83554.000000,2006.000000,45503.000000,82973.500000,9.130000,5.000000,2.000000,0.000000
75%,6.000000,2005.000000,104443.000000,2009.000000,57641.500000,143663.500000,13.282500,8.000000,3.000000,1.000000
max,8.000000,2009.000000,205585.000000,2018.000000,146766.000000,449396.000000,29.750000,14.000000,4.000000,1.000000

In [129]:
# Generate Train - Test splits
df = pd.read_csv('Group_18_07_B.csv', delimiter = ',')

df["Sale_Price"]=df["Sale_Price"].apply(lambda x: x.replace(" SAR",""))
df["Sale_Price"]=df["Sale_Price"].apply(lambda x: int(x.replace(",","")))

df["Model_Price"]=df["Model_Price"].apply(lambda x: x.replace(" SAR",""))
df["Model_Price"]=df["Model_Price"].apply(lambda x: int(x.replace(",","")))

selected_cols= df.select_dtypes(exclude='object').columns

from sklearn.model_selection import train_test_split
X = df[selected_cols].iloc[:,[0,1,2,3,5,6,7,8,9]].values # Note: that index 9 is Service_History column i will explain why i didn't remove it
y = df[selected_cols].iloc[:,4].values 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Scaling the Train - Test splits
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(np.c_[X_train,y_train])

A_train = scaler.transform(np.c_[X_train,y_train])
X_train = A_train[:,:-1]
y_train = A_train[:,-1]

A_test = scaler.transform(np.c_[X_test,y_test])
X_test = A_test[:,:-1]
y_test = A_test[:,-1]

# Regression Analysis: Mean Squared Error Metric
from sklearn.metrics import mean_squared_error

## OLS
from sklearn.linear_model import LinearRegression
reg1 = LinearRegression(fit_intercept=False).fit(X_train, y_train)
y_pred1 = reg1.predict(X_test)
print('The MSE using OLS is:', mean_squared_error(y_test, y_pred1),'\n')

print('The coefficient estimates are:')
display(pd.DataFrame( reg1.coef_,index=df[selected_cols].iloc[:,1:].columns.tolist()).T)

# I did not remove Service_History column (although it is catagorical) for the reason: that the task said assume all inputs are relavent to the output.

The MSE using OLS is: 0.09954446570338697

The coefficient estimates are:

,Model_Year,Model_Price,Sold_Year,Sale_Price,KM_Driven,KPL,Accident_History,Owner_History,Service_History
0,0.039702,1.057443,0.853604,-1.182339,-0.064683,0.193416,-0.086254,-0.014132,0.069123

## Task-8

In [127]:
## Ridge
from sklearn.linear_model import RidgeCV
reg2 = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1e0, 1e1, 1e2, 1e3], fit_intercept=False,cv=10).fit(X_train, y_train)
y_pred2 = reg2.predict(X_test)

print('The MSE using Ridge is:', mean_squared_error(y_test, y_pred2),'\n')
print('The coefficient estimates are:')
display(pd.DataFrame( reg2.coef_,index=df[selected_cols].iloc[:,1:].columns.tolist()).T)

The MSE using Ridge is: 0.09958246068376665

The coefficient estimates are:

,Model_Year,Model_Price,Sold_Year,Sale_Price,KM_Driven,KPL,Accident_History,Owner_History,Service_History
0,0.039618,1.052612,0.853308,-1.177202,-0.066003,0.193256,-0.086278,-0.014112,0.069123

## Task-9

In [130]:
from sklearn.linear_model import LassoCV
reg3 = LassoCV(alphas=[1e-3, 1e-2, 1e-1, 1e0, 1e1, 1e2, 1e3], 
               fit_intercept=False,cv=10, random_state=0).fit(X_train, y_train)
y_pred3 = reg3.predict(X_test)

print('The MSE using Lasso is:', mean_squared_error(y_test, y_pred3),'\n')
print('The coefficient estimates are:')
display(pd.DataFrame( reg3.coef_,index=df[selected_cols].iloc[:,1:].columns.tolist()).T)

The MSE using Lasso is: 0.09958308704510065

The coefficient estimates are:

,Model_Year,Model_Price,Sold_Year,Sale_Price,KM_Driven,KPL,Accident_History,Owner_History,Service_History
0,0.037922,1.044468,0.851293,-1.168343,-0.067292,0.190953,-0.085447,-0.013171,0.06823

## Task-10

## References